*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  background-color: #fff;
}

.container {
  background-color: #f7f7f7;
  padding: 5rem;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/pexels-mehmet-turgut-kirkgoz-58656342.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.header .title-first {
  color: #fff;
}
.header .title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.header .title-first__secondary {
  display: block;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  text-transform: lowercase;
  -webkit-animation-name: rightToLeft;
          animation-name: rightToLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  margin-bottom: 6.5rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.5rem;
  color: #777;
  background-color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(2);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
  opacity: 0.4;
}
.btn_animated {
  -webkit-animation: BtnToUp 0.7s ease-out 0.4s;
          animation: BtnToUp 0.7s ease-out 0.4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */